name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t adhd-planner .

    - name: Push & Deploy (mock step)
      run: echo "Deploying to EC2 / EKS"